body {
    background: rgb(248, 249, 250);
    text-align: center;
    font-size:24px;
}

table {
    width: 100%;
    background: white;
}

th, td {
    padding: 8px;
}

a:visited {
    color: lightblue;
}

button {
    background: blue;
    color:white;
    padding: 16px;
    font-size: 24px;
    margin: 8px;
}

header {
    position: relative;
}

section {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

section h2 {
    font-size: 2.5rem;
    color: #343a40;
}

section p {
    font-size: 1.2rem;
    color: #6c757d;
    text-align: justify;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 2rem 0;
}

footer img {
    max-width: 200px;
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 0.5rem;
}

footer .bi {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s;
}

footer .bi:hover {
    color: #ffc107;
}