/* Estilos para el logo centrado en el carrusel */
.logo-overlay {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.logo-overlay .logo {
    max-width: 300px;
    height: auto;
}

.logo-overlay .logoCopiapo  {
    max-width: 390px;
    height: auto;
}


@media (max-height: 767px) {
    .logo-overlay .logo {
        max-height: 200px;
        max-width: auto;
    }
    
    .logo-overlay .logoCopiapo  {
        max-height: 200px;
        max-width: auto;
    }
}

/* Estilo del carrusel */
.carousel-inner img {
    height: 70vh;
    object-fit: cover;
}

/* Navbar responsivo */
.navbar-nav {
    margin-left: auto;
}




/* Estilo para la sección de lugares 2024 */
.bg-light {
    background-color: #f8f9fa !important;
}

.card img {
    object-fit: cover;
    height: 16rem;
}

.card-body {
    text-align: center;
}

/* Estilo para la sección de Auspiciadores */
.img-fluid {
    max-height: 150px;
    object-fit: contain;
}


/* Estilos para la sección de Ubicación */
#ubicacion {
    background-color: #f8f9fa;
    padding: 3rem 0;

}

#ubicacion h2 {
    font-size: 2.5rem;
    color: #343a40;
}

#ubicacion .img-fluid {
    max-width: 100%;

    height: auto;
    border-radius: 0.5rem;
}

#ubicacion p.lead {
    font-size: 1.25rem;
    margin-top: 1rem;
}

.map-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Estilos para la sección de Cómo Participar */
#como-participar {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

#como-participar h2 {
    font-size: 2.5rem;
    color: #343a40;
}

#como-participar p.lead {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

#como-participar .btn {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    margin: auto;
}

/* Espaciado entre botones en dispositivos móviles */
#como-participar .btn-primary.mb-3 {
    margin-bottom: 1rem;
}


/* Estilos para la sección de Galería */
#galeria {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

#galeria h2 {
    font-size: 2.5rem;
    color: #343a40;
}

#galeria p {
    font-size: 1.25rem;
    color: #6c757d;
}

/* Estilo para el carrusel */
#galeria .carousel-item img {
    height: auto;
    max-height: 75vh;
    object-fit: cover;
}

/* Estilos para la sección de Eventos Pasados */
#eventos-pasados {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

#eventos-pasados h2 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 2rem;
}

.event-link {
    text-decoration: none;
    color: inherit;
}

.event-card {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  /*   background-color: #fff; Fondo blanco para separar las imágenes del fondo general */
    background-color: #e9ecef;

    padding: 1rem;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#c1daf0 ;
}

.event-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.event-card:hover .event-img {
    transform: scale(1.05);
}

.event-title {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #343a40;
}

@media (max-width: 767px) {
    .col-6{
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .event-img {
        height: 250px;
    }

    .event-title {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .event-img {
        height: 250px;
        
    }
}

/* Estilos para la sección de Eventos Pasados */
#eventos-pasados {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

#eventos-pasados h2 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 2rem;
}

.event-link {
    text-decoration: none;
    color: inherit;
}

.event-card {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  /*   background-color: #fff; Fondo blanco para separar las imágenes del fondo general */
    background-color: #e9ecef;

    padding: 1rem;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#c1daf0 ;
}

.event-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.event-card:hover .event-img {
    transform: scale(1.05);
}

.event-title {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #343a40;
}

@media (max-width: 767px) {
    .col-6{
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .event-img {
        height: 250px;
    }

    .event-title {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .event-img {
        height: 250px;
        
    }
}

/* Estilos para la sección de Organizador */
#organizador {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

#organizador h2 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 2rem;
}

#organizador p {
    font-size: 1.25rem;
}

#organizador img {
    max-width: 100%;
    height: auto;
}

.sponsors-silver {
    background: #ccc;
    text-align: center;
    padding: 8px;
}

.sponsor {
    height: 100px;
    margin: 16px;
}

.sponsors-plan {
    text-align: center;
}
.sponsors-plan>* {
    display: inline;
}

.sponsors-plan th, td{
    border: 1px solid #ddd;
    text-align: center;
    padding: 4px;
}