/* Estilos para la sección de Cronograma */
#cronograma {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

#cronograma h2 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 2rem;
}

#schedule {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

#schedule th, #schedule td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

#schedule th {
    background-color: #485460;
    color: #fff;
    font-weight: bold;
    text-align: center;
    
}

#schedule tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.photo-speaker-container {
    display: flex;
    align-items: center;
    
}




.photo-speaker {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px) { /* Tablet y dispositivos más pequeños */
    .photo-speaker-container {
        flex-direction: column;
    }
    .photo-speaker {
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

}

.event {
    margin-left: 1rem;
}

.event .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
}

.event .author {
    margin-top: 0.5rem;
    color: #6c757d;
}

.event .category {
    margin-top: 0.5rem;
   
    font-style: italic;
}

.level, .category {
    color: black;
    padding: 2px 6px;
    border-radius: 15px;
    display: inline-block;
}

.level.Básico {
    background: green;
}

.level.Intermedio {
    background: yellow;
}

.level.Avanzado {
    background: red;
}

.category.Data {
    background: orange;
}

.category.Web {
    background: cyan;
}

.category.Auto {
    background: #808;
    color: white;
}