table#schedule {
     text-align: left;
     font-size: 20px;
     margin: 0px 4%;
}

table#schedule th, table#schedule td {
     border: solid 12px rgb(248, 249, 250);
     padding: 20px;
}

#schedule th {
     font-size: 24px;
}

#schedule td.content {
     display: flex;
}

.photo-speaker {
     vertical-align: top;
     align-items: left;
     height: 60px;
     border-radius: 50px;
}

.event {
     display: inline-block;
     margin-left: 8px;
     max-width: 80%;
}

.title {
     font-weight: bold;
}

.author {
     color: #888;
     font-weight: bold;
     font-style: italic;
}

.level, .category {
     color: black;
     padding: 2px 6px;
     border-radius: 15px;
     display: inline-block;
}

.level.Básico {
     background: green;
}

.level.Intermedio {
     background: yellow;
}

.level.Avanzado {
     background: red;
}

.category.Data {
     background: orange;
}

.category.Web {
     background: cyan;
}

.category.Auto {
     background: #808;
     color: white;
}